%h2 Events

%h3 Future
%table.table.table-striped.table-bordered.future
  %thead
    %tr
      %th Event Date
      %th Performer
      %th Content
      %th Actions
  %tbody
    - @future_events.each do |event|
      = render partial: 'row', locals: { event: event }

%h3 Past
%table.table.table-striped.table-bordered.past
  %thead
    %tr
      %th Event Date
      %th Performer
      %th Content
      %th Actions
  %tbody
    - @past_events.each do |event|
      = render partial: 'row', locals: { event: event }
